@{
    ViewBag.Title = "About Cuppa";
}
<h2>About Just a Cuppa</h2>
<br/>
<div>

    <h4>Operations and Employees</h4>
    <p>
        Just a Cuppa has replaced coffee of doom.  It offers simple coffee served in simple cups.
    </p>
    <p>
        Employees all have simple single syllable names like: 
        Mike, Scott, Sam, Dave, Brad, Jess, and Jack.
    </p>

    <h4>Drinks and Other Offerings</h4>
    <p>
        The coffee is fair trade.
    </p>
</div>


