@{
    ViewBag.Title = "Just a Cuppa Home";
}

<div class="jumbotron">
    <h1>Just a Cuppa</h1>
    <p class="lead">A simple coffee shop<br/>powered by Grand Circus</p>
    <p><a href="/home/register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coffee</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Things about coffee &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Not Coffee</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Things that are not about coffee &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For the Staff</h2>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Admin Access &raquo;</a></p>
    </div>
</div>